@model List<AcunMedyaProje1.Models.TBL_Skill>

<section id="team" class="skills section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        <p>My technical and creative skills, built through real-world projects and a passion for problem-solving.</p>
    </div><!-- End Section Title -->

    @for (int i = 0; i < Model.Count; i += 8)
    {
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row skills-content skills-animation">

                <div class="col-lg-6">
                    @for (int j = i; j < i + 4 && j < Model.Count; j++)
                    {
                        <div class="progress">
                            <span class="skill"><span>@Model[j].SkillName</span> <i class="val">@Model[j].Derece%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@Model[j].Derece" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-lg-6">
                    @for (int j = i + 4; j < i + 8 && j < Model.Count; j++)
                    {
                        <div class="progress">
                            <span class="skill"><span>@Model[j].SkillName</span> <i class="val">@Model[j].Derece%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@Model[j].Derece" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    }

</section>
